* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Alata', sans-serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  scroll-behavior: smooth;
}

.container .header {
  width: 100%;
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.container .header .nav {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-right: 20px;
}

.container .header .nav img {
  width: 150px;
  height: 30px;
  margin-left: 140px;
}

.container .header .nav nav {
  padding-right: 100px;
}

.container .header .nav nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.container .header .font {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 200px;
  left: 150px;
  width: 600px;
  font-size: 80px;
  padding: 20px;
  font-weight: 300;
  line-height: 90px;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
}

.container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 100px;
}

.container .banner img {
  width: 700px;
}

.container .banner .banner-ph .banner-text {
  width: 450px;
  height: 120px;
  background-color: white;
  padding: 100px;
  position: relative;
  top: 220px;
  right: 140px;
}

.container .banner .banner-ph .banner-text p {
  line-height: 20px;
}

.container .banner .banner-ph .banner-text h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.container .center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .center-items h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-right: 700px;
  font-family: 'Josefin Sans', sans-serif;
}

.container .center-items button {
  background: white;
  color: black;
  padding: 10px;
  border: none;
  outline: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
}

.container .center-images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.container .center-images .image-div {
  margin: 20px;
  background-color: 1px solid black;
  text-align: center;
}

.container .center-images .image-div img {
  width: 300px;
}

.container .center-images .image-div h3 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: -80px;
  font-size: 25px;
  color: white;
}

.container .center-images .image-div:hover {
  cursor: pointer;
  opacity: 70%;
}

.container .footer {
  background-color: black;
}

.container .footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .footer .footer-top .icon img {
  margin-right: 10px;
}

.container .footer .footer-bottom {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .footer .footer-bottom .nav-bottom {
  margin-right: 140px;
}

.container .footer .footer-bottom .nav-bottom a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.container .footer .footer-bottom .copyright {
  color: white;
}
/*# sourceMappingURL=style.css.map */